* {
    margin: 0;
    padding: 0;
    background-color:rgb(74, 166, 209);
    
    
  }
  
  img{
    height: 30px;
    width: 30px;
  }
  
  
  .search{
    text-align: center;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: rgb(52, 82, 255) 5px solid;
    border-radius: 70px;
    min-width: 100px;
  
  }
  
  .column1 {
    order: 1;
  }
  
  .column2 {
    order: 2;
  }
  
  .column3 {
    order: 3;
  }
  .note_title_block{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2{
    text-align: center;
    margin-right: 10px;
  }
  
  
  
  .task{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 3px;
    min-width: 100px;
    margin: 10px;
  }
  
  .title_task{
    text-align: center;
  }
  
  
  
  .add_task{
    padding: 3px;
  }
  
  li{
    list-style: none;
  }
  
  .none{
    display: none;
  }
  
  .disabled{
    color: rgb(93, 6, 151);
    pointer-events: none;
  }
  
  
  
  
  input{
    height: 30px;
    border: 3px solid rgb(52, 82, 255);
    border-radius: 30px;
    padding-left: 5px;
    text-align: center;
    
  }