* {
    margin: 0;
    padding: 0;
    background-color:rgb(74, 166, 209);
    
    
  }
  
  img{
    height: 30px;
    width: 30px;
  }
  
  
  .search{
    text-align: center;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: rgb(52, 82, 255) 5px solid;
    border-radius: 70px;
    min-width: 100px;
  
  }
  
  .column1 {
    order: 1;
  }
  
  .column2 {
    order: 2;
  }
  
  .column3 {
    order: 3;
  }